@tailwind base;
@tailwind components;
@tailwind utilities;
.all{
    background-image: url(./yusuf.img/Rectangle\ 37\ \(1\).png);
    width: 100%;
    height: 750px;
}
.all1{
    background-image: url(./yusuf.img/Rectangle\ 38.png);
    width: 100%;
}
.all11{
    background-image: url(./yusuf.img/Rectangle\ 79.png);
    width: 100%;
    height: 350px;
}